<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- Global Logger Appender -->
  <appender name="GlobalLogger" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="Logs/All/" />
    <datePattern value="yyyyMMdd-HH" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>

  <!-- Business Error Appender -->
  <appender name="BusinessError" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="Logs/BusinessError/" />
    <datePattern value="yyyyMMdd-HH" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>

  <!-- Error Logger Appender -->
  <appender name="Error" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="Logs/Error/" />
    <datePattern value="yyyyMMdd-HH" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>

  <!-- Audit Log Request Appender -->
  <appender name="AuditLogRequest" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="Logs/AuditLogRequest/" />
    <datePattern value="yyyyMMdd-HH" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="50MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>

  <!-- Root Logger -->
  <root>
    <level value="ALL" />
    <appender-ref ref="GlobalLogger" />
  </root>

  <!-- Specific Loggers -->
  <logger name="BusinessError" additivity="True">
    <level value="ALL" />
    <appender-ref ref="BusinessError" />
  </logger>

  <logger name="Error" additivity="True">
    <level value="ERROR" />
    <appender-ref ref="Error" />
  </logger>

  <logger name="AuditLogRequest" additivity="True">
    <level value="ALL" />
    <appender-ref ref="AuditLogRequest" />
  </logger>
</log4net>