@model IEnumerable<WebApp.Models.Questionnaire>

@{
    ViewData["Title"] = "Home";
}

<h1>Questionnaires</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questionnaire in Model)
        {
            <tr>
                <td>@questionnaire.Title</td>
                <td>@questionnaire.Class.Course.Name</td>
                <td>@questionnaire.Class.Name</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Questionnaire" asp-action="Fill" asp-route-id="@questionnaire.Id">Fill</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">